a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #083763;
  --primary-color-light: #206ab0;
  --secondary-color: #b06d00;
  --secondary-color-dark: #634108;
  --blackish: #3c3c3c;
  --error-color: #d33d3d;
}
